{% block menu -%}
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="{{ path('author') }}">Authors</a></li>
            <li><a href="{{ path('book') }}">Books</a></li>
            <li><a href="{{ path('publisher') }}">Publisher</a></li>
        </ul>
        <h3 class="text-muted">4devs CRUD Example</h3>
    </div>
{% endblock %}
