{% extends "TwitterBootstrapBundle::layout.html.twig" %}

{% block container -%}
    {% include 'FDevsCRUDBundle:Default:menu.html.twig' %}
    <h1>Publisher creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('publisher') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
